 body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .nav {
        display: flex;
        justify-content: space-between;
        background-color: #242323;
        color: #ffff;
        padding: 0 1rem;
      }
      .nav ul {
        display: flex;
        list-style-type: none;
      }
      .nav ul li {
        margin: 0 10px;
        padding: 0 10px;
      }
      .nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        transition: all ease 0.4s;
      }
      .nav ul li a:hover {
        color: #f0ac45;
      }
      .main-content {
        padding: 2rem 1rem;
        max-width: 800px;
        margin: 0 auto;
      }
      .main-content h1 {
        text-align: center;
        color: #242323;
      }
      .main-content h2 {
        color: #f0ac45;
      }
      .main-content p, .main-content ul {
        line-height: 1.6;
      }
      .main-content ul {
        margin-bottom: 1rem;
      }
      footer {
        background-color: #242323;
        color: #fff;
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
      }
      .footer-section {
        margin: 0.5rem;
      }
      .footer-copyright {
        margin-top: 1rem;
        font-size: 14px;
      }
